<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card" style="margin-left: 70px">
          <q-card-section>
            <q-form ref="validateForm">
              <div v-for="(val, k) in sendData" :key="k" class="q-mb-md">
                <div class="row">
                  <q-select
                    outlined
                    v-model="val.group_id"
                    use-input
                    hide-selected
                    fill-input
                    map-options
                    emit-value
                    option-value="id"
                    option-label="name"
                    input-debounce="0"
                    label="group"
                    :rules="[
                      (val) =>
                        (val !== '' && val !== null) ||
                        'Please select group name',
                    ]"
                    :options="groupData"
                    @filter="filterGr"
                    style="width: 260px"
                    :dense="dense"
                  />
                  <q-select
                    filled
                    v-model="val.subject_id"
                    use-input
                    use-chips
                    multiple
                    class="q-ml-md"
                    input-debounce="0"
                    map-options
                    emit-value
                    :rules="[
                      (val) =>
                        (val !== '' && val !== null) ||
                        'Please select group name',
                    ]"
                    label="Subjects"
                    option-value="id"
                    option-label="s_name"
                    :options="Options"
                    @filter="filterFn"
                    style="width: 250px"
                    :dense="dense"
                  />

                  <q-input
                    v-model.number="val.p_time"
                    type="number"
                    filled
                    :rules="[
                      (val) =>
                        (val !== null && val !== '') ||
                        'Please type your practise time',
                      (val) => val % 2 == 0 || 'Please your value divide to 2 ',
                    ]"
                    class="col-2 q-ml-md"
                    label="practise time"
                    style="max-width: 200px"
                    :dense="dense"
                  />

                  <q-input
                    v-model.number="val.l_time"
                    type="number"
                    filled
                    :rules="[
                      (val) =>
                        (val !== null && val !== '') ||
                        'Please type your lecture time',
                      (val) => val % 2 == 0 || 'Please your value divide to 2 ',
                    ]"
                    class="col-2 q-ml-md"
                    label="lecture time"
                    style="max-width: 200px"
                    :dense="dense"
                  />
                </div>
              </div>
              <div class="float-right row">
                <q-btn
                  class="glossy q-mr-lg"
                  @click="multiInput()"
                  round
                  color="secondary"
                  icon="add_circle_outline"
                  on
                />
                <div>
                  <q-btn
                    class="glossy"
                    @click="shiftInput()"
                    round
                    color="deep-orange"
                    icon="remove"
                    on
                  />
                </div>
              </div>
              <div class="align-button q-mt-lg">
                <q-btn
                  color="secondary"
                  no-caps
                  class="text-subtitle1 text-weight-bold"
                  @click="createDOM()"
                  label="Create and next"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      sendData: [{ group_id: "", subject_id: [], l_time: 0, p_time: 0 }],
      groupData: [],
      dense: true,
      filtGr: [],
      grCopy: [],
      filterOnly: [],
      copy: [],
      Options: [],
    };
  },
  methods: {
    multiInput() {
      this.sendData.push({
        group_id: "",
        subject_id: [],
        l_time: 0,
        p_time: 0,
      });
    },
    shiftInput() {
      this.sendData.pop();
    },

    createDOM() {
      this.$refs.validateForm.validate().then((suc) => {
        if (suc) {
          let dat = JSON.stringify(this.sendData);
          this.$axios.post('/api/create/saveGroupSubject',{data:dat}).then((res)=>{
            if(res.status == 200){
              this.$router.push('/new/lecture_join_group');
            }
          })
        }
      });
    },

    filterFn(val, update) {
      update(() => {
        if (val === "") {
          this.Options = this.Options;
        } else {
          const needle = val.toLowerCase();
          let i = [];
          console.log(val);
          let data = this.filterOnly.filter(
            (v) => v.toLowerCase().indexOf(needle) > -1
          );
          data.forEach((element) => {
            this.copy.forEach((element1) => {
              if (element1.s_name == element) {
                i.push({
                  s_name: element1.s_name,
                  id: element1.id,
                });
              }
            });
          });
          this.Options = i;
        }
      });
    },
    filterGr(val, update) {
      update(() => {
        if (val === "") {
          this.groupData = this.grCopy;
        } else {
          const needle = val.toLowerCase();
          let i = [];
          let data = this.filtGr.filter(
            (v) => v.toLowerCase().indexOf(needle) > -1
          );
          data.forEach((element) => {
            this.groupData.forEach((element1) => {
              if (element1.name == element) {
                i.push({
                  name: element1.name,
                  id: element1.id,
                });
              }
            });
          });
          this.groupData = i;
        }
      });
    },
  },
  created() {
    this.$axios.get("/api/create/getSubject").then((res) => {
      if (res.status == 200) {
        this.Options = res.data;
        let i = 0;
        res.data.forEach((element) => {
          this.filterOnly[i] = element.s_name;
          i++;
        });
        this.copy = res.data;
      }
    });

    this.$axios.get("/api/create/getGroupforS").then((res) => {
      if (res.status == 200) {
        this.groupData = res.data;
        this.grCopy = res.data;
        let i = 0;
        res.data.forEach((element) => {
          this.filtGr[i] = element.name;
          i++;
        });
      }
    });
  },
};
</script>




<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  min-height: 300px;
}
.align-button {
  margin-left: 480px;
  margin-top: 100px;
}
</style>