<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card" style="margin-left: 70px">
          <q-card-section>
            <q-form @submit="createGroups()" ref="nameValid">
            <div v-for="(data,i) in sendData" :key="i">
             <q-input
                outlined
              
                v-model="data.name"
                style="max-width: 900px;margin-left:70px;"
                label="Teacher's Full Name"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Please type your full name',
                ]"
               
                :dense="dense"
            />
        </div>
        </q-form>
        <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput()"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput()"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
            <div class="align-button q-mt-lg">
              <q-btn
                color="secondary"
                no-caps
                class="text-subtitle1 text-weight-bold"
                @click="createGroups()"
                label="Create and next"
              />
            </div>
            </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>

<script>
export default {
  data(){
    return {
      dense:true,
      
      sendData:[
       {name:''},
      ]
    }
  },
  methods:{
  multiInput(){
    this.sendData.push({name:''})
  },
  shiftInput(){
    this.sendData.pop()
  },
  createGroups(){
    this.$refs.nameValid.validate().then((success)=>{
      if(success){
        let data =JSON.stringify(this.sendData);
        this.$axios.post('/api/create/teacher',{teachers:data}).then((res)=>{
          this.$router.push('/new/teachers_share')
        })
      }
    })
  }
  }
}
</script>


<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  min-height: 300px;
}
.align-button {
  margin-left: 480px;
  margin-top: 100px;
}
</style>