<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card" style="margin-left: 70px">
          <q-card-section>
            <q-form ref="validateForm">
              <div>
                <div class="row">
                  <div class="col">
                    <p class="text-h6 text-center q-mr-lg">Lecture</p>
                    <div
                      v-for="(val, k) in sendDataLecture"
                      :key="k"
                      class="q-mb-md"
                    >
                      <q-input
                        v-model="val.l_name"
                        outlined
                        :label="'Lecture Room\n' + (k + 1)"
                        standout
                        :rules="[
                        (val)=>(val!==null && val!=='')||
                        'please type this input'
                        ]"
                        class="col-3 q-mr-lg"
                        :dense="dense"
                      />
                    </div>
                    <div class="float-right row">
                      <q-btn
                        class="glossy q-mr-lg"
                        @click="multiInput('maruza')"
                        round
                        color="secondary"
                        icon="add_circle_outline"
                        on
                      />
                      <div>
                        <q-btn
                          class="glossy q-mr-lg"
                          @click="shiftInput('maruza')"
                          round
                          color="deep-orange"
                          icon="close"
                          on
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <p class="text-h6 text-center">Practical</p>
                    <div
                      v-for="(value, i) in sendDataPractical"
                      :key="i"
                      class="q-mb-md"
                    >
                      <q-input
                        v-model="value.p_name"
                        outlined
                        :label="'Practical Room\n' + (i + 1)"
                        standout
                         :rules="[
                        (val)=>(val!==null && val!=='')||
                        'please type this input'
                        ]"
                        class="col-3 q-ml-lg"
                        :dense="dense"
                      />
                    </div>
                    <div class="float-right row">
                      <q-btn
                        class="glossy q-mr-lg"
                        @click="multiInput('amaliy')"
                        round
                        color="secondary"
                        icon="add_circle_outline"
                        on
                      />
                      <div>
                        <q-btn
                          class="glossy"
                          @click="shiftInput('amaliy')"
                          round
                          color="deep-orange"
                          icon="close"
                          on
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="align-button q-mt-lg">
                <q-btn
                  color="secondary"
                  no-caps
                  class="text-subtitle1 text-weight-bold"
                  @click="createRooms()"
                  label="Create and next"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      text: [],
      kurs: 1,
      sendDataLecture: [
        {
          l_name: "",
        },
      ],
      sendDataPractical: [
        {
          p_name: "",
        },
      ],

      dense: true,
    };
  },
  methods: {
    multiInput(type) {
      if (type == "maruza") {
        this.sendDataLecture.push({ l_name: "" });
      } else if (type == "amaliy") {
        this.sendDataPractical.push({ p_name: "" });
      }
    },
    shiftInput(type) {
      if (type == "maruza") {
        this.sendDataLecture.pop();
      } else if (type == "amaliy") {
        this.sendDataPractical.pop();
      }
    },
    createRooms() {
      this.$refs.validateForm.validate().then((suc) => {
        if (suc) {
          let lec = JSON.stringify(this.sendDataLecture);
          let pac = JSON.stringify(this.sendDataPractical);
          this.$axios
            .post("/api/create/room", { lecture: lec, practical: pac })
            .then((res) => {
              if (res.status == 200)
                this.$router.push("/new/teachers");
            });
        }
      });

      // window.location = "/#/new/lecture_join_group";
    },
  },
};
</script>




<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  min-height: 300px;
}
.align-button {
  margin-left: 480px;
  margin-top: 100px;
}
</style>