<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card" style="margin-left: 135px">
          <q-card-section>
            <q-form ref="validateForm">
            <div style="margin-bottom:150px;"> 
           <p class="text-h6 text-center  q-mr-lg">1-Kurs</p> 
            <div v-for="(value, k) in sendDataJoin" :key="k" class="q-mb-md">
              <div class="row">
               <q-select
                outlined
                 v-model="value.subject_id"
                use-input
                hide-selected
                fill-input
                map-options
                emit-value
                option-value="id"
                option-label="s_name"
                input-debounce="0"
                :rules="[(val)=>(val!=='' && val!==null)||'Please select subject']"
                :options="subjectData"
                @filter="filterFn"
                style="width: 260px; "
             />
             <q-select
                filled
                v-model="value.group_id"
                use-input
                use-chips
                multiple
                class="q-ml-md"
                input-debounce="0"
                map-options
                emit-value
                :rules="[(val)=>(val!=='' && val!==null)||'Please select']"
                option-value="id"
                option-label="name"
                :options="kurs1Data"
                @filter="(val,update,abort) => filterGroup(val,update,abort,kurs1Data,1,filtKurs1,copyKurs1)"
                style="width: 450px"
                />
              
                  </div>
            </div>
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput(1)"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput(1)"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
</div>

 <div style="margin-bottom:150px;"> 
     <p class="text-h6 text-center  q-mr-lg">2-Kurs</p> 
            <div v-for="(value, t) in sendDataJoin2"  class="q-mb-md">
              <div class="row">
               <q-select
                outlined
                 v-model="value.subject_id"
                use-input
                hide-selected
                fill-input
                :rules="[(val)=>(val!=='' && val!==null)||'Please select subject']"
                map-options
                emit-value
                option-value="id"
                option-label="s_name"
                input-debounce="0"
                :options="subjectData"
                @filter="filterFn"
                style="width: 260px; "
             />
             <q-select
                filled
                v-model="value.group_id"
                use-input
                use-chips
                multiple
                class="q-ml-md"
                input-debounce="0"
                map-options
                :rules="[(val)=>(val!=='' && val!==null)||'Please select']"
                emit-value
                option-value="id"
                option-label="name"
                :options="kurs2Data"
                @filter="(val,update,abort) => filterGroup(val,update,abort,kurs2Data,2,filtKurs2,copyKurs2)"
                style="width: 450px"
                />
              
                  </div>
            </div>
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput(2)"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput(2)"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
      </div>

       <div style="margin-bottom:150px;"> 
     <p class="text-h6 text-center  q-mr-lg">3-Kurs</p> 
            <div v-for="(value, t) in sendDataJoin3"  class="q-mb-md">
              <div class="row">
               <q-select
                outlined
                 v-model="value.subject_id"
                use-input
                hide-selected
                fill-input
                map-options
                emit-value
                :rules="[(val)=>(val!=='' && val!==null)||'Please select subject']"
                option-value="id"
                option-label="s_name"
                input-debounce="0"
                :options="subjectData"
                @filter="filterFn"
                style="width: 260px; "
             />
             <q-select
                filled
                v-model="value.group_id"
                use-input
                use-chips
                multiple
                class="q-ml-md"
                input-debounce="0"
                map-options
                emit-value
                :rules="[(val)=>(val!=='' && val!==null)||'Please select']"
                option-value="id"
                option-label="name"
                :options="kurs3Data"
                @filter="(val,update,abort) => filterGroup(val,update,abort,kurs3Data,3,filtKurs3,copyKurs3)"
                style="width: 450px"
                />
              
                  </div>
            </div>
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput(3)"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput(3)"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
      </div>

       <div style="margin-bottom:150px;"> 
     <p class="text-h6 text-center  q-mr-lg">4-Kurs</p> 
            <div v-for="(value, t) in sendDataJoin4"  class="q-mb-md">
              <div class="row">
               <q-select
                outlined
                 v-model="value.subject_id"
                use-input
                hide-selected
                fill-input
                map-options
                emit-value
                :rules="[(val)=>(val!=='' && val!==null)||'Please select subject']"
                option-value="id"
                option-label="s_name"
                input-debounce="0"
                :options="subjectData"
                @filter="filterFn"
                style="width: 260px; "
             />
             <q-select
                filled
                v-model="value.group_id"
                use-input
                use-chips
                multiple
                class="q-ml-md"
                input-debounce="0"
                map-options
                :rules="[(val)=>(val!=='' && val!==null)||'Please select']"
                emit-value
                option-value="id"
                option-label="name"
                :options="kurs4Data"
                @filter="(val,update,abort) => filterGroup(val,update,abort,kurs4Data,4,filtKurs4,copyKurs4)"
                style="width: 450px"
                />
              
                  </div>
            </div>
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput(4)"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput(4)"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
      </div>

            <div class="align-button q-mt-lg">
              <q-btn
                color="secondary"
                no-caps
                class="text-subtitle1 text-weight-bold"
                @click="createJoinsGroup()"
                label="Create and next"
              />
            </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
     sendDataJoin:[
    {'subject_id':'','group_id':[]}
     ],
     sendDataJoin2:[
    {'subject_id':'','group_id':[]}
     ],
     sendDataJoin3:[
    {'subject_id':'','group_id':[]}
     ],
     sendDataJoin4:[
    {'subject_id':'','group_id':[]}
     ],
      dense: true,
      kurs1Data : [],
      kurs2Data : [],
      kurs3Data : [],
      kurs4Data : [],
      subjectData: [],
      filterSub:[],
      copySub:[],
      
      filtKurs1: [],
      copyKurs1 :[],

      filtKurs2: [],
      copyKurs2 :[],

      filtKurs3: [],
      copyKurs3 :[],

      filtKurs4: [],
      copyKurs4 :[],
      kafedra_id:null
    };
  },
  methods: {
    multiInput(j) {
      if(j==1){
     this.sendDataJoin.push({'subject_id':'','group_id':[]})
      }
       if(j==2){
     this.sendDataJoin2.push({'subject_id':'','group_id':[]})
      }
       if(j==3){
     this.sendDataJoin3.push({'subject_id':'','group_id':[]})
      }
        if(j==4){
     this.sendDataJoin4.push({'subject_id':'','group_id':[]})
      }
    },
    shiftInput(j) {
       if(j==1){
         this.sendDataJoin.pop()
      }
        if(j==2){
      this.sendDataJoin2.pop()
        }
        if(j==3){
      this.sendDataJoin3.pop()
        }
          if(j==4){
      this.sendDataJoin4.pop()
        }
     
    },
    createJoinsGroup(){
      this.$refs.validateForm.validate().then((succ)=>{
     if(succ){
      let kur1= JSON.stringify(this.sendDataJoin);
      let kur2 = JSON.stringify(this.sendDataJoin2)
      let kur3 = JSON.stringify(this.sendDataJoin3)
      let kur4 = JSON.stringify(this.sendDataJoin4)

      this.$axios.post('/api/create/joinLecture',{'kurs1':kur1,'kurs2':kur2,'kurs3':kur3,'kurs4':kur4}).then((res)=>{
        console.log("Hello");
      })
     }
      })
    
    //  window.location = '/#/new/teachers';
    },
    Addcollection(i){
    this.sendDataJoin[i].push({'subject_id':'','group_id':''});
   
    },
    filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.subjectData = this.subjectData
        }
        else {
          const needle = val.toLowerCase()
          let i=[]
          let data =  this.filterSub.filter(
          v => v.toLowerCase().indexOf(needle) > -1
          )
          data.forEach(element => {
             this.copySub.forEach(element1 => {
             if(element1.s_name == element) {
                 i.push({
                   's_name':element1.s_name,
                   'id':element1.id
                 })
             }
          });
          });
          this.subjectData = i ;
         
        }
      })
    },

    filterGroup (val, update,abort,kursData,is,filters,copyied) {
      update(() => {
        if (val === '') {
          if(is==1){
               this.kurs1Data = kursData
          }
          if(is==2){
               this.kurs2Data = kursData
          }  
          if(is==3){
               this.kurs3Data = kursData
          }  
          if(is==4){
               this.kurs4Data = kursData
          }      
        }
        else {
          const needle = val.toLowerCase()
          let i=[]
          console.log(kursData);
          let data = []
           data =  filters.filter(
          v => v.toLowerCase().indexOf(needle) > -1
          )
          //  console.log(data);
          data.forEach(element => {
              copyied.forEach(element1 => {
             if(element1.name == element) {
                 i.push({
                   'name':element1.name,
                   'id':element1.id,
                 })
             }
          });
          });
           if(is==1){
               this.kurs1Data = i
          }
          if(is==2){
               this.kurs2Data = i
          }  
          if(is==3){
               this.kurs3Data = i
          }  
          if(is==4){
               this.kurs4Data = i
          }   
          
         console.log(this.kurs1Data);
        }
      })
    }


  },
  mounted(){
    this.$axios.get('/api/create/getGroup').then((res)=>{
   
      this.kurs1Data = res.data.kurs1;
      this.kurs2Data = res.data.kurs2;
      this.kurs3Data = res.data.kurs3;
      this.kurs4Data = res.data.kurs4;

      this.copyKurs1 = res.data.kurs1;
      this.copyKurs2 = res.data.kurs2;
      this.copyKurs3 = res.data.kurs3;
      this.copyKurs4 = res.data.kurs4;
    this.copyKurs1.forEach(element1 => {
  
        this.filtKurs1.push(element1.name) 
    });
     this.copyKurs2.forEach(element2 => {
        this.filtKurs2.push(element2.name) 
    });
     this.copyKurs3.forEach(element3 => {
        this.filtKurs3.push(element3.name) 
    });
     this.copyKurs4.forEach(element4 => {
        this.filtKurs4.push(element4.name) 
    });

  

    })
   this.$axios.get('/api/create/getSubject').then((res)=>{
    this.subjectData=res.data
     let i=0;
      this.copySub = res.data;

  res.data.forEach(element => {
    this.filterSub[i]=element.s_name;
    i++
  });

   })

  }
};
</script>




<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  min-height: 300px;
}
.align-button {
  margin-left: 350px;
  margin-top: 100px;
}
</style>