<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card fixed-center">
          <q-card-section>
            <q-form ref="validfor">
              <q-input
                outlined
                v-model="name"
                label="kafedra name"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Please type your kafedra name',
                ]"
                class="q-mb-lg"
              />
              <div class="row fixed-center q-mt-lg">
                <q-btn
                  color="secondary"
                  no-caps
                  class="text-subtitle1 text-weight-bold"
                  @click="createKafedra()"
                  label="Create and next"
                />

                <q-btn
                  color="secondary"
                  no-caps
                  class="text-subtitle1 text-weight-bold"
                  @click="logout()"
                  label="Logout"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
import { axiosInstance } from "boot/axios";
import { LocalStorage } from "quasar";
import axios from "axios";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      text: [],
      name: "",
    };
  },
  methods: {
    ...mapMutations("app", ["SaveKafedraId"]),
    async createKafedra() {
      this.$refs.validfor.validate().then((succes) => {
        if (succes) {
          this.$axios
            .post("/api/create/kafedra", { name: this.name })
            .then((res) => {
              this.SaveKafedraId(res.data.id);
              window.location = "/#/new/groups";
            });
        }
      });
    },
    async logout() {
      this.$axios.post("/api/auth/logout").then((res) => {
        console.log(res);
        this.$router.push("/").catch(() => {});
      });
    },
  },
};
</script>











<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  min-height: 300px;
}
</style>