<template>
  <div class="border">
    <q-page-container>
      <q-page class="q-pa-lg">
        <q-card class="my-card" style="margin-left: 135px">
          <q-card-section>
            <q-form ref="validFor">
            <div v-for="(val, k) in sendData" :key="k" class="q-mb-md">
              <div class="row">
              <q-input
                v-model="val.name"
                outlined
                :label="'group\n' + (k + 1)"
                standout
                :rules="[
                (val)=>(val!==null && val!=='')||
                'please type group name !'
                ]"
                class="col"
                :dense="dense"
              />
               <q-select outlined  
               :dense="dense" 
               class="col-3 q-ml-md"
                v-model="val.kurs" 
                 :rules="[
                (val)=>(val!==null && val!=='')||
                'please select course name !'
                ]"
                :options="Options" 
                label="kurs" />
            </div>
            </div>
            
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput()"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput()"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
            <div class="align-button q-mt-lg">
              <q-btn
                color="secondary"
                no-caps
                class="text-subtitle1 text-weight-bold"
                @click="createGroups()"
                label="Create and next"
              />
            </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  data() {
    return {
      text: [],
      kurs: 1,
      sendData: [{ name: "", kurs:'1-Kurs'}],
      Options:[],
      dense: true,
    };
  },
  
  methods: {
  
    multiInput() {
      this.sendData.push({ name: "",  kurs:'1-Kurs'});
    },
    shiftInput() {
      this.sendData.pop();
    },
    createGroups(){
      this.$refs.validFor.validate().then((suc)=>{
        if(suc){
      let senderJson = JSON.stringify(this.sendData);
      this.$axios.post('/api/create/group',{groupdata:senderJson}).then((res)=>{
        if(res.status == 200)
        window.location = '/#/new/rooms';
      })
      }
      })
      
    }
  },
   created() {
      this.$axios.get('/api/create/getCourse').then((res)=>{
        let i=0;
        res.data.forEach(element => {
            this.Options[i]=res.data[i].name;
            i++; 
        });
        // console.log(this.Options[0]);
      })
    },
  
};
</script>




<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  min-height: 300px;
}
.align-button {
  margin-left: 350px;
  margin-top: 100px;
}
</style>