<template>
  <div class="border">
    <q-page-container>
      <q-page class="">
        <q-card class="my-card" style="margin-left: 80px">
          <q-card-section>
         <q-form ref="ValidateForm">
            <div v-for="(val, k) in sendData" :key="k" class="q-mb-md">
              <div class="row">
                <div class="column self-start col-3">
                 <q-select
                  outlined
                  @filter="filterTeach"
                  use-input
                  hide-selected
                  fill-input
                   map-options
                   emit-value
                  :dense="dense"
                  class="col-3 q-ml-sm"
                   option-value="id"
                   option-label="full_name"
                  v-model="val.teacher_id"
                  :options="techOptions"
                  label="Teacher"
                    :rules="[
                (val) =>
                  (val !== null && val !== '') ||
                  'Please select your teacher name',
              ]"
                />
                </div>
                <div class="column col-9">
           <div v-for="(work,j) in val.share" :key="j">
                  <div class="row" :style="j!=0 ? 'margin-top:6px;':''">
             <div class="column self-start col-4">
                <q-select
                  outlined
                  @filter="filterFn"
                  use-input
                  hide-selected
                  fill-input
                   map-options
                   emit-value
                  input-debounce="s_name"
                  :dense="dense"
                  class="col-4 q-ml-sm"
                   option-value="id"
                   option-label="s_name"
                  v-model="work.subject_id"
                  :options="Options"
                  label="subject"
                    :rules="[
                (val) =>
                  (val !== null && val !== '') ||
                  'Please select your subject',
              ]"
                />
               </div>
                <div class="column col-8">
                <div v-for="(curs,p) in work.courseTime" :key="p">
                <div class="row q-mb-xs">
                <q-select
                  outlined
                  use-input
                  hide-selected
                  fill-input
                   map-options
                   emit-value
                  input-debounce="name"
                  :dense="dense"
                  class="col-4 q-ml-sm"
                   option-value="id"
                   option-label="name"
                   v-model="curs.course_id"
                  :options="Course"
                  label="Course"
                     :rules="[
                (val) =>
                  (val !== null && val !== '') ||
                  'Please select your course',
              ]"
                />
              
                <q-input
                  v-model.number="curs.p_time"
                  type="number"
                  filled
                  class="col-3 q-ml-sm"
                  label="practise time"
                  style="max-width: 200px"
                  :dense="dense"
                 :rules="[
                (val) =>
                  (val !== null && val !== '') ||
                  'Please type your prictase time',
                  (val) => (val%2==0)||
                  'Please your value divide to 2 '
              ]"
                />
                <q-input
                  v-model.number="curs.l_time"
                  type="number"
                  filled
                  class="col-3 q-ml-sm"
                  label="lecture time"
                  style="max-width: 200px"
                  :dense="dense"
                  :rules="[
                (val) =>
                  (val !== null && val !== '') ||
                  'Please type your lecture time',
                (val) => (val%2==0)||
                  'Please your value divide to 2 '
              ]"
                /> 
                </div>
                </div>
                 </div>
                  </div>
              <div style="margin-left:295px;" class="surfers-class">
                            <q-btn
                          round
                          class="q-mr-sm "
                          color="white"
                          size="sm"
                          icon="add"
                          dense
                          @click="multiCourse(k,j)"
                          push 
                          text-color="primary"
                          />
                        <q-btn
                          round
                          color="white"
                          size="sm"
                          class=" "
                          icon="close"
                          dense
                          push 
                          @click="shiftCourse(k,j)"
                          text-color="negative"
                          />
                          </div>
                                </div>
                    
                                <div  class="row surfers-class">
                            <q-btn
                        
                          class="q-mr-sm "
                          color="white"
                          size="md"
                          icon="add"
                          dense
                          @click="multiSubject(k)"
                          push 
                          text-color="primary"
                          />
                        <q-btn
                      
                          color="white"
                          size="md"
                          class=" "
                          icon="close"
                          dense
                          push 
                          @click="shiftSubject(k)"
                          text-color="negative"
                          />
    </div>
    </div>
             </div>

                
                </div>
            
       
            <div class="float-right row">
              <q-btn
                class="glossy q-mr-lg"
                @click="multiInput()"
                round
                color="secondary"
                icon="add_circle_outline"
                on
              />
              <div>
                <q-btn
                  class="glossy"
                  @click="shiftInput()"
                  round
                  color="deep-orange"
                  icon="remove"
                  on
                />
              </div>
            </div>
            <div class="align-button q-mt-lg">
              <q-btn
                color="secondary"
                no-caps
                class="text-subtitle1 text-weight-bold"
                @click="createGroups()"
                label="Create and next"
              />
            </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      text: [],
      kurs: 1,
      sendData: [
        {
          teacher_id: "",
          share:[{
          subject_id: null,
          courseTime:[
            {  course_id:null, l_time: 0,p_time: 0 }
          ]
         
          }]
        },
      ],
      Options: [],
      techOptions:[],
      filterTech:[],
      techCopy:[],
      dense: true,
      maruza: true,
      amaliy: false,
      filterOnly:[],
      copy:[],
      Course:[],
      copyCourse:[],
      filterCourse:[],
      f:false,
      l:false
    
    };


  },
  methods: {
    multiInput() {
      this.sendData.push({
         teacher_id: "",
          share:[{
          subject_id: null,
          courseTime:[
            {  course_id:null, l_time: 0,p_time: 0 }
          ]
          }]
        });
    },
    shiftInput() {
      this.sendData.pop();
    },
    multiSubject(idx){
      console.log(idx);
    this.sendData[idx].share.push({
          subject_id: null,
          courseTime:[
            {  course_id:null, l_time: 0,p_time: 0 }
          ]
         
          })
    },
    multiCourse(inx1,inx2){
      this.sendData[inx1].share[inx2].courseTime.push({course_id:null, l_time: 0,p_time: 0 })
    },
    shiftCourse(inx1,inx2){
      this.sendData[inx1].share[inx2].courseTime.pop();
    },
    shiftSubject(i){
      this.sendData[i].share.pop()
    },
    createGroups() {
      this.$refs.ValidateForm.validate().then((dt)=>{
       if(dt){
         let id=1;
          let datas = JSON.stringify(this.sendData);
         this.$axios.post('/api/create/saveShares',{data:datas}).then((res)=>{
          //  if(res.status == 200)
          //  this.$router.push('/new/groups_subjects')
         })
       }
      })
      
    //  let id = this.$store.getters['app/getKafedraId'];
    //  let datas = JSON.stringify(this.sendData);
   
    //   this.$axios.post('/api/create/teacher',{teacher:datas,id:id}).then((res)=>{
    //     if (res.status == 200) {
    //           this.$router.push('/new/rooms');
    //     }  
    //   })
    },
    
     filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.Options = this.copy
        }
        else {
          const needle = val.toLowerCase()
          let i=[]
          let data =  this.filterOnly.filter(
          v => v.toLowerCase().indexOf(needle) > -1
          )
          data.forEach(element => {
             this.copy.forEach(element1 => {
             if(element1.s_name == element) {
                 i.push({
                   's_name':element1.s_name,
                   'id':element1.id
                 })
             }
          });
          });
          this.Options = i ;
         
        }
      })
    },

      filterTeach (val, update) {
      update(() => {
        if (val === '') {
          this.techOptions = this.techCopy
        }
        else {
          const needle = val.toLowerCase()
          let i=[]
          let data =  this.filterTech.filter(
          v => v.toLowerCase().indexOf(needle) > -1
          )
          data.forEach(element => {
             this.techCopy.forEach(element1 => {
             if(element1.full_name == element) {
                 i.push({
                   'full_name':element1.full_name,
                   'id':element1.id
                 })
             }
          });
          });
          this.techOptions = i ;
         
        }
      })
    }
  
  },
  created(){
    this.$axios.get('/api/create/getSubject').then((res)=>{
      this.Options = res.data;
      let i=0;
      res.data.forEach(element => {
         this.filterOnly[i]= element.s_name
         i++
      });
      this.copy =res.data;
    })
     
    this.$axios.post('/api/create/getTeacher').then((res)=>{
      if(res.status == 200){
        this.techOptions=res.data;
         let i=0;
         res.data.forEach(element => {
         this.filterTech[i]= element.full_name
         i++
      });
      this.techCopy = res.data;
      }
    })
     this.$axios.get('/api/create/getCourse').then((res)=>{
      this.Course = res.data;
      let i=0;
      res.data.forEach(element => {
         this.filterCourse[i]= element.name
         i++
      });
      this.copyCourse =res.data;
      console.log(res.data);
    })

  }
};
</script>




<style>
/* .cop{
    float: left;
    display: inline-block;
}
.aligment{
  height: 300px;
}
.with{
  width: 300px;
} */
.com {
  width: 800px;
}
.my-card {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  min-height: 300px;
}
.align-button {
  margin-left: 480px;
  margin-top: 100px;
}
.surfers-class{
    float: left;
}
</style>