<template>
<div>
  <q-btn no-caps class="float-right q-ma-lg bg-teal-8 text-white" 
  size="18px"
  to="/new/kafedra"
  >
  <q-icon name="group_add" class="q-ma-sm"/>
  New
  </q-btn>
   <div class="absolute-center">
     <small>No section yet.....</small>
      </div>


</div>


</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
