<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
       

        <q-toolbar-title class="absolute-center">
          {{this.$route.name}}
        </q-toolbar-title>

      
      </q-toolbar>
    </q-header>
  
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import {mapActions} from 'vuex'


export default {
data(){
  return{
        name:''
  }
},




}
</script>
